@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffea;
  --color-text: #000000;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Scrollbar styling for high-contrast theme */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-thumb {
  background: #ffeb3b;
  border: 2px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #fdd835;
}
